@font-face {
    font-family: ybRegular;
    src: url('assets/fonts/Yekan-Bakh-FaNum-05-Medium.woff.lnk');
}

@font-face {
    font-family: Doran;
    src: url('assets/fonts/DoranFaNum-ExtraBold.woff');
}


@font-face {
  font-family: ybExBold;
  src: url('assets/fonts/YekanBakh-ExtraBold.woff2');
}


@font-face {
  font-family: Dana;
  src: url('assets/fonts/DanaFaNum-Bold.woff');
}

@font-face {
  font-family: DanaReg;
  src: url('assets/fonts/DanaFaNum-Regular.woff');
}

@font-face {
  font-family: ybReg;
  src: url('assets/fonts/Yekan-Bakh-FaNum-04-Regular.woff');
}

body{
    padding: 0;
    margin: 0;
    background-color: #1F2235;
}

:root{
    --color-primary: #3B3F45;
}


nav{
  backdrop-filter: blur(28px);
  background-color: #1f223567;
  height: 66px;
  border: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
  width: 84%;
  position: fixed;
  border: 0.1px solid #faede34d;
  border-radius: 25px;
  width: 97%;
  margin-top: 5px;
  margin-left: 10px;
  z-index: 10000000;
}
nav a{
    font-family: ybRegular;
    color: var(--color-primary);
    text-decoration: none;
}
nav #CTA button{
  width: 127px;
  border-radius: 15px;
  height: 46px;
  border: 1px solid #f5e2d0;
  background: none;
  font-family: ybRegular;
  transition: 0.3s;
  color: #f5e2d0;
}

nav #CTA button:hover{
  background: #f5e2d0;
  color: #1F2235 !important;
  transition: 0.3s;
}


.dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border:none;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    font-family: ybRegular;
    cursor: pointer;
    white-space: nowrap;
    color: var(--color-primary);
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 49%;
    left: 5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f3bc87;
  }
  
  .dd-button:hover {
    color: #000000;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    width: 10em;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 2px 0 0 0;
    background-color: #f4f0df;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    font-family: ybRegular;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .dd-menu li:hover {
    background-color: #e97113;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }



  #Header{
    width: 100%;
    height: 460px;
    margin-top: 0em;
    border-bottom: 0.0 solid #f1e7b9;
    border-radius: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
}


  #background-pattern
  {
    height: 666px;
    width: 100%;
    margin-left: 0px;
    z-index: -1000000;
  }

  #Header #banner{
    height: 428px;
    margin-top: -62em;
  }


  #title{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
  }

  #title h1{
    font-family: 'Doran';
    font-size: 71px;
    color: #f3bc87;
    margin-top: 0px;
  }


  #title #typewriter{
    font-family: 'ybRegular';
    color: #f9dabcb8;
    font-size: 24px;
    position: absolute;
    margin-top: 54px;
  }




  #under-bkground-line{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
    height: 1px;
    margin-top: -455px;
    background-color: #e9d7c8;
    width: 99%;
    margin-left: 4.5px;
  }

  #About-image-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: baseline;
    align-items: baseline;
  }


  #About-image-container img{
    height: 461px;
    border-radius: 15px;
    margin-top: 19em;
    margin-left: 17%;
  }


  #About-title-contianer{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
  }


  #About-title-contianer h3{
    font-family: 'DanaReg';
    margin-top: -370px;
    color: beige;
    font-size: 14.4px;
    margin-left: 62.625em;
  }


  #About-title-contianer h1{
    font-size: 40px;
    font-family: 'Doran';
    color: #f3bc87;
    margin-left: 577px;
    margin-top: -24px;
}


#About-title-contianer p{
  color: gray;
    font-family: 'DanaReg';
    font-size: 14.4px;
    margin-left: 32em;
    margin-top: -12px;
    line-height: 30px;
}


#skills{
  display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
}


#skills h1{
  color: #f3bc87;
    font-family: 'Doran';
    font-size: 30px;
    margin-top: 8em;
}


#skills h3{
  position: absolute;
    color: #7e84a1;
    font-family: 'DanaReg';
    font-size: 15px;
    margin-top: 62px;
}


#gSkills{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
}


#Graphic{
  background-color: #2d3042;
    width: 573px;
    height: 100px;
    border-radius: 1.2em;
    border: 2px solid #404458;
    transition: 0.3s;
    margin-left: 53%;
    margin-top: 20px;
}


#Graphic h2{
  margin-top: -77px;
  font-family: 'ybExBold';
  color: #f3a85f;
  margin-left: 71%;
  margin-top: -77px;
}


#Graphic h3{
  line-height: 22px;
  font-family: 'ybRegular';
  color: #a19992;
  margin-top: -17;
  margin-left: 207px;
  font-size: 14.4;
}

#rSkills{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;
}


#Programming{
  background-color: #2d3042;
    width: 573px;
    height: 100px;
    border-radius: 1.2em;
    margin-top: -9%;
    margin-left: -51%;
    border: 2px solid #404458;
    transition: 0.3s;
}


#Teaching{
  background-color: #2d3042;
    width: 573px;
    border: 2px solid #404458;
    height: 100px;
    border-radius: 1.2em;
    margin-top: 21px;
    margin-left: 53%;
    transition: 0.3s;
}


#DigitalMarketing{
  background-color: #2d3042;
    width: 573px;
    border: 2px solid #404458;
    height: 100px;
    border-radius: 1.2em;
    margin-top: -99px;
    margin-left: -51%;
    transition: 0.3s;
}


#Works{
  display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
}


#Works h1{
  margin-top: 262px;
    font-family: 'Doran';
    color: #f3bc87;
    font-size: 29px;
}

#Works h3{
  margin-left: -13px;
    margin-top: 329px;
    position: absolute;
    color: #7e84a1;
    font-family: 'DanaReg';
    font-size: 15px;
}